@mixin circle($size)
    width: $size
    height: $size
    border-radius: 100%

// Gestion des breakpoint en fonction de la taille d'écran
@mixin min-break-point($size)
  @media screen and (min-width: $size)
    @content

@mixin keyframes($animationName) 
  @-webkit-keyframes #{$animationName} 
    $browser: '-webkit-' 
    @content
  @-moz-keyframes #{$animationName} 
    $browser: '-moz-'
    @content
  @-o-keyframes #{$animationName}
    $browser: '-o-'
    @content
  @keyframes #{$animationName} 
    $browser: ''
    @content
$browser: null
