.MyCategories
  margin-top: 105px
  padding: 5px
  display: flex
  justify-content: center

  & .breadcrumb
    
    & .breadcrumb-item
      cursor: pointer

    & li:hover
      text-decoration: underline

    & .active
      color: lighten($dark, 40% )
    