.MyLink
  position: relative
  text-align: center

  .MyLink__link
    position: relative

    .MyLink__image
      position: relative
      margin: auto
      width: 95%  
      height: 95%

    .MyLink__title
      position: relative
      top: -15%
      font-size: 1.7rem
      color: $light
      text-shadow: $black 1px 1px 1px 
