@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  color: initial;
  text-decoration: none;
}

a:hover {
  color: initial;
}

/* Couleurs : */
/* Breakpoints (équivalent aux breakpoints Bootstrap) */
/* Typo */
/* Tailles */
body {
  font-family: "Nova Mono", monospace;
  font-size: 18px;
}

.flux {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEEEE;
}

.NavMargin {
  margin-top: 63px;
}

@media screen and (min-width: 768px) {
  .NavMargin {
    margin-top: 73px;
  }
}

@media screen and (min-width: 992px) {
  .NavMargin {
    margin-top: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .NavMargin {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1400px) {
  .NavMargin {
    margin-top: 105px;
  }
}

.MyNavBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-family: "Cookie", cursive;
  font-size: 30px;
  background-color: #1fe0;
  font-size: 40px;
}

.MyNavBar .MyNavBar__link {
  color: #EEEEEE;
  text-shadow: #47555e 1px 1px 1px;
  margin-left: 2px;
  margin-right: 2px;
  letter-spacing: .15rem;
}

.MyNavBar .MyNavBar__link:first-child {
  margin-left: 0;
}

.MyNavBar .MyNavBar__link:last-child {
  margin-right: 0;
}

.MyNavBar .MyNavBar__brand {
  background-color: #47555e;
  width: 12%;
}

.MyNavBar .MyNavBar__brand img {
  width: 100%;
}

.darkNavBar {
  background-color: #EEEEEE;
  color: #47555e;
  border-bottom: #47555e solid 1px;
  -webkit-box-shadow: 0px 1px 1px #1b2024;
          box-shadow: 0px 1px 1px #1b2024;
}

.MyCarousel {
  text-align: center;
}

.MyCarousel .MyCarousel__image {
  width: 100%;
  max-width: 1200px;
}

.MyLogo__container {
  position: relative;
  margin-top: 20%;
  z-index: 1;
  background-color: rgba(71, 85, 94, 0.7);
  color: #EEEEEE;
  -webkit-box-shadow: #000 3px 3px 8px;
          box-shadow: #000 3px 3px 8px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

@media screen and (min-width: 768px) {
  .MyLogo__container {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }
}

@media screen and (min-width: 992px) {
  .MyLogo__container {
    width: 250px;
    height: 250px;
    border-radius: 100%;
  }
}

.MyLogo__container .MyLogo__logo {
  position: relative;
  margin: auto;
  padding-top: 10%;
  width: 85%;
}

@media screen and (min-width: 992px) {
  .MyLogo__container .MyLogo__logo {
    width: 95%;
  }
}

.MyLogo__container .MyLogo__title {
  position: relative;
  font-family: "Cookie", cursive;
  font-size: 0.9rem;
  text-shadow: #47555e 1px 1px 1px;
}

@media screen and (min-width: 768px) {
  .MyLogo__container .MyLogo__title {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .MyLogo__container .MyLogo__title {
    font-size: 1.7rem;
  }
}

.MyLogo__container .MyLogo__subtitle {
  font-size: 1.2rem;
  text-shadow: #47555e 1px 1px 1px;
}

@media screen and (min-width: 768px) {
  .MyLogo__container .MyLogo__subtitle {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 992px) {
  .MyLogo__container .MyLogo__subtitle {
    font-size: 2.5rem;
  }
}

.MyLink {
  position: relative;
  text-align: center;
}

.MyLink .MyLink__link {
  position: relative;
}

.MyLink .MyLink__link .MyLink__image {
  position: relative;
  margin: auto;
  width: 90%;
  height: 90%;
}

.MyLink .MyLink__link .MyLink__title {
  position: relative;
  top: -30%;
  font-size: 0.7rem;
  color: #EEEEEE;
  text-shadow: #000 1px 1px 1px;
}

@media screen and (min-width: 576px) {
  .MyLink .MyLink__link .MyLink__title {
    top: -25%;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .MyLink .MyLink__link .MyLink__title {
    top: -20%;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .MyLink .MyLink__link .MyLink__title {
    top: -20%;
    font-size: 1.7rem;
  }
}

.MyFooter {
  background-color: #47555e;
  color: #EEEEEE;
  text-align: center;
}

.MyFooter .MyFooter__social {
  background-color: #EEEEEE;
  color: #47555e;
}

.MyFooter .MyFooter__social img {
  width: 32px;
  height: 32px;
}

.MyFooter .MyFooter__logo img {
  width: 12%;
}

.MyFooter .MyFooter__link {
  color: #EEEEEE;
  text-decoration: none;
}

.MyFooter .MyFooter__link:hover {
  color: #d5d5d5;
  text-shadow: black 1px 1px 1px;
  border-radius: 5px;
}

.MyCategories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

.MyCategories .breadcrumb .breadcrumb-item {
  cursor: pointer;
}

.MyCategories .breadcrumb li:hover {
  text-decoration: underline;
}

.MyCategories .breadcrumb .active {
  color: #afbbc2;
}

.MyImageItem {
  margin: 10px;
  margin-position: relative;
}

.MyImageItem:hover:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin: -15px 0 0 -15px;
  background: url("../assets/logos/loupe.png") center no-repeat;
  background-color: white;
  opacity: 0.6;
  border-radius: 3px;
  padding: 20px;
}

.MyImageItem__image {
  height: 250px;
  width: 250px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.MyImageItem__image:hover {
  -webkit-box-shadow: 1px 1px 3px #47555e;
          box-shadow: 1px 1px 3px #47555e;
}

.MyImageList {
  width: 100%;
}

.MyImageList .MyImageList__list {
  list-style-type: none;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.MyImageList .MyImageList__list div {
  position: relative;
}
/*# sourceMappingURL=Index.css.map */